addon_configs/a0d7b954_nodered/flows.json
[{"id":"7fe709653a670158","type":"tab","label":"Email Summary","disabled":false,"info":""},{"id":"30a70f3cdb7321a0","type":"tab","label":"Home Energy Datacollect LXC","disabled":false,"info":""},{"id":"58ac827a81b6b0f5","type":"tab","label":"Home Weather Datacollect LXC","disabled":false,"info":"","env":[]},{"id":"9cc17d50.8b108","type":"mqtt-broker","name":"","broker":"192.168.179.30","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"5","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"53f6b668.b1a258","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1a04913d6e4080ae","type":"influxdb","hostname":"192.168.179.32","port":"8086","protocol":"http","database":"RomieriHome","name":"LXC InfluxDB","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"47e8a52bc5373cf7","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"},{"id":"c7e88269670ee6c4","type":"influxdb","hostname":"192.168.179.32","port":"8086","protocol":"http","database":"RomieriLight","name":"LXC Influx Light","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"ff45f277e83e6c9a","type":"influxdb","hostname":"192.168.179.32","port":"8086","protocol":"http","database":"RomieriWeather","name":"LXC Influx Temp","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"2c8cf0b2e1b3645a","type":"e-mail","z":"7fe709653a670158","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"ragazzoromano@gmail.com","dname":"Send email","x":950,"y":260,"wires":[]},{"id":"eb4ac32debb6bb49","type":"sunrise","z":"7fe709653a670158","name":"Sunset event","lat":"45.88","lon":"13","start":"sunrise","end":"sunsetStart","soff":0,"eoff":"30","x":110,"y":60,"wires":[[],["7e145dd9bc5bacb4"]]},{"id":"7e145dd9bc5bacb4","type":"time-range-switch","z":"7fe709653a670158","name":"Time check","lat":"45.88","lon":"13","startTime":"15:00","endTime":"23:00","startOffset":0,"endOffset":0,"x":230,"y":140,"wires":[["cd22d517d7352533"],[]]},{"id":"a8bfb777b7b8d51d","type":"inject","z":"7fe709653a670158","name":"Inject Test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":220,"wires":[["cd22d517d7352533"]]},{"id":"33defdafe5df7e9f","type":"function","z":"7fe709653a670158","name":"Prep email","func":"var todayDate = new Date();\nvar dd = String(todayDate.getDate()).padStart(2, '0');\nvar mm = String(todayDate.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar yyyy = todayDate.getFullYear();\ntodayDate = dd + '/' + mm + '/' + yyyy\n\nmsg.topic = \"Home Energy Summary \" + todayDate;\n\nmsg.payload = \n\"HOME:\\n\" +\n\"-EE Totale:\\n\" + parseFloat(msg.payload[2][0].sum).toFixed(2) + \"kWh\\n\" +\n\"-EE Richiesta:\\n\" + parseFloat(msg.payload[3][0].sum/1000).toFixed(2) + \"kWh\\n\" +\n\"-Massima Potenza attiva:\\n\" + parseFloat(msg.payload[4][0].max/1000).toFixed(2) + \"kW\\n\" +\n\"-Media Potenza attiva:\\n\"+ parseFloat(msg.payload[4][0].mean/1000).toFixed(2) + \"kW\\n\" +\n\"\\n\" +\n\"ABB:\\n\" +\n\"-EE Totale:\\n\" + parseFloat(msg.payload[0][0].sum).toFixed(2) + \"kWh\\n\" +\n\"-Massima Potenza attiva:\\n\" + parseFloat(msg.payload[1][0].max/1000).toFixed(2) + \"kW\\n\" +\n\"-Media Potenza attiva:\\n\" + parseFloat(msg.payload[1][0].mean/1000).toFixed(2) + \"kW\\n\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":220,"wires":[["686adab765dcd7ec","2c8cf0b2e1b3645a"]]},{"id":"a65c054afb4903fd","type":"debug","z":"7fe709653a670158","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":260,"wires":[]},{"id":"686adab765dcd7ec","type":"debug","z":"7fe709653a670158","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":280,"wires":[]},{"id":"cd22d517d7352533","type":"influxdb in","z":"7fe709653a670158","influxdb":"1a04913d6e4080ae","name":"Fetch Influx Data","query":"SELECT sum(value) FROM ABBEnergy WHERE time >= now() - 20h;\nSELECT max(value), mean(value) FROM ABBActivePower WHERE time >= now() - 20h AND value > 0;\nSELECT sum(value) FROM HomeEnergy WHERE time >= now() - 24h;\nSELECT sum(value) FROM SupplierEnergy WHERE time >= now() - 24h;\nSELECT max(value), mean(value) FROM HomeActivePower WHERE time >= now() - 24h;","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":490,"y":180,"wires":[["a65c054afb4903fd","33defdafe5df7e9f"]]},{"id":"b01781378e0a1577","type":"mqtt in","z":"30a70f3cdb7321a0","name":"","topic":"PZEM004_H/elSensorH/SENSOR","qos":"0","datatype":"json","broker":"9cc17d50.8b108","nl":false,"rap":false,"inputs":0,"x":160,"y":300,"wires":[["bd6e44faa031f336","8bb7d9fdac01b6cd","3e1acd0962978698","6cb23b01fa1480d2"]]},{"id":"bd6e44faa031f336","type":"debug","z":"30a70f3cdb7321a0","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":210,"y":240,"wires":[]},{"id":"23d9dc01aa1ce573","type":"mqtt in","z":"30a70f3cdb7321a0","name":"","topic":"PZEM004_A/elSensorA/SENSOR","qos":"0","datatype":"json","broker":"9cc17d50.8b108","nl":false,"rap":false,"inputs":0,"x":160,"y":420,"wires":[["f164b8ac5b4152c7","697d6b5b675c2410","83f62c43c747cf3b","db18a3caeec95f6c"]]},{"id":"f164b8ac5b4152c7","type":"debug","z":"30a70f3cdb7321a0","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":210,"y":480,"wires":[]},{"id":"8bb7d9fdac01b6cd","type":"function","z":"30a70f3cdb7321a0","name":"","func":"msg.topic = \"Home\"\nmsg.payload =  parseFloat(msg.payload.ENERGY.Power)\nflow.set(\"Home\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":300,"wires":[["e045b0e0626459d5","2f47798be3571168","bc1d80e6e6f9fcb3","aaa6815a3d86f015"]]},{"id":"697d6b5b675c2410","type":"function","z":"30a70f3cdb7321a0","name":"","func":"msg.topic = \"ABB\"\nmsg.payload =  parseFloat(msg.payload.ENERGY.Power)\nflow.set(\"ABB\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":420,"wires":[["05dd76ae212944eb","2f47798be3571168","a459b5b7cdbea110","aaa6815a3d86f015"]]},{"id":"e045b0e0626459d5","type":"debug","z":"30a70f3cdb7321a0","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":630,"y":240,"wires":[]},{"id":"05dd76ae212944eb","type":"debug","z":"30a70f3cdb7321a0","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":610,"y":480,"wires":[]},{"id":"2f47798be3571168","type":"function","z":"30a70f3cdb7321a0","name":"","func":"var homeAP = flow.get(\"Home\");\nvar abbAP = flow.get(\"ABB\");\n\nmsg.payload = abbAP - homeAP\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":360,"wires":[["9a89efe37039e5f8","63a434bb070fb045"]]},{"id":"bc1d80e6e6f9fcb3","type":"influxdb out","z":"30a70f3cdb7321a0","influxdb":"1a04913d6e4080ae","name":"Save Home Active Power","measurement":"HomeActivePower","precision":"","retentionPolicy":"","database":"nodered","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"romieri","bucket":"nodered","x":910,"y":260,"wires":[]},{"id":"a459b5b7cdbea110","type":"influxdb out","z":"30a70f3cdb7321a0","influxdb":"1a04913d6e4080ae","name":"Save ABB Active Power","measurement":"ABBActivePower","precision":"","retentionPolicy":"","database":"nodered","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"romieri","bucket":"nodered","x":910,"y":460,"wires":[]},{"id":"9a89efe37039e5f8","type":"influxdb out","z":"30a70f3cdb7321a0","influxdb":"1a04913d6e4080ae","name":"Save Delta Active Power","measurement":"DeltaActivePower","precision":"","retentionPolicy":"","database":"nodered","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"romieri","bucket":"nodered","x":1190,"y":360,"wires":[]},{"id":"3e1acd0962978698","type":"function","z":"30a70f3cdb7321a0","name":"","func":"msg.topic = \"HOMEEnergy\"\nvar prevHOMEEn = flow.get(\"prevHOMEEnergy\");\nvar actHOMEEn = parseFloat(msg.payload.ENERGY.Today);\nmsg.payload = Math.max(parseFloat(actHOMEEn - prevHOMEEn), 0);\nflow.set(\"prevHOMEEnergy\",  actHOMEEn);\nreturn msg;\n\n  \n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":160,"wires":[["c78b179498402e44","505975ada307b447"]]},{"id":"83f62c43c747cf3b","type":"function","z":"30a70f3cdb7321a0","name":"","func":"msg.topic = \"ABBEnergy\"\nvar prevABBEn = flow.get(\"prevABBEnergy\");\nvar actABBEn = parseFloat(msg.payload.ENERGY.Today);\nmsg.payload = Math.max(parseFloat(actABBEn - prevABBEn), 0);\nflow.set(\"prevABBEnergy\",  actABBEn);\nreturn msg;\n  \n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":560,"wires":[["35ed9eede21f4794","391e8ec0b8b57b3b"]]},{"id":"c78b179498402e44","type":"influxdb out","z":"30a70f3cdb7321a0","influxdb":"1a04913d6e4080ae","name":"Save Home Energy","measurement":"HomeEnergy","precision":"","retentionPolicy":"","database":"nodered","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"romieri","bucket":"nodered","x":890,"y":160,"wires":[]},{"id":"35ed9eede21f4794","type":"influxdb out","z":"30a70f3cdb7321a0","influxdb":"1a04913d6e4080ae","name":"Save ABB Energy","measurement":"ABBEnergy","precision":"","retentionPolicy":"","database":"nodered","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"romieri","bucket":"nodered","x":890,"y":560,"wires":[]},{"id":"505975ada307b447","type":"debug","z":"30a70f3cdb7321a0","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":630,"y":100,"wires":[]},{"id":"391e8ec0b8b57b3b","type":"debug","z":"30a70f3cdb7321a0","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":630,"y":620,"wires":[]},{"id":"63a434bb070fb045","type":"function","z":"30a70f3cdb7321a0","name":"","func":"var prevDateTime = flow.get(\"PrevDateTime\");\nvar actdateTime = new Date();\n\nvar secs = (actdateTime - prevDateTime) / 1000;\n\nflow.set(\"PrevDateTime\", new Date());\n\nvar deltaEnergy = 0;\nif (msg.payload < 0)\n{\n  deltaEnergy = parseFloat(msg.payload * -1) * secs / 60 / 60;\n}\nmsg.payload = deltaEnergy\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":460,"wires":[["635a2d0fa0a67fae","7a31cbca22a6879e"]]},{"id":"635a2d0fa0a67fae","type":"debug","z":"30a70f3cdb7321a0","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1170,"y":520,"wires":[]},{"id":"7a31cbca22a6879e","type":"influxdb out","z":"30a70f3cdb7321a0","influxdb":"1a04913d6e4080ae","name":"Save Supplier Energy","measurement":"SupplierEnergy","precision":"","retentionPolicy":"","database":"nodered","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"romieri","bucket":"nodered","x":1380,"y":460,"wires":[]},{"id":"f3379a3ae72d82f2","type":"debug","z":"30a70f3cdb7321a0","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":810,"y":780,"wires":[]},{"id":"516b4cb57d840a2d","type":"debug","z":"30a70f3cdb7321a0","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":810,"y":1000,"wires":[]},{"id":"294143782a8592f3","type":"function","z":"30a70f3cdb7321a0","name":"","func":"var homeAP = flow.get(\"Home\");\nvar abbAP = flow.get(\"ABB\");\n\nmsg.topic = \"noderedHA/SENSOR\";\nmsg.payload = {\"DELTA_ENERGY\":{\"value\":abbAP-homeAP}}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":840,"wires":[["672472d8fbcecbb5","970561b42442189c"]]},{"id":"672472d8fbcecbb5","type":"debug","z":"30a70f3cdb7321a0","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1050,"y":840,"wires":[]},{"id":"84deb0be4f8243ce","type":"mqtt out","z":"30a70f3cdb7321a0","name":"","topic":"noderedHA/SENSOR","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cc17d50.8b108","x":1340,"y":760,"wires":[]},{"id":"970561b42442189c","type":"json","z":"30a70f3cdb7321a0","name":"Delta Active Power","property":"payload","action":"obj","pretty":true,"x":1070,"y":760,"wires":[["df582aeb7922b226","84deb0be4f8243ce"]]},{"id":"df582aeb7922b226","type":"debug","z":"30a70f3cdb7321a0","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1310,"y":820,"wires":[]},{"id":"db18a3caeec95f6c","type":"function","z":"30a70f3cdb7321a0","name":"","func":"msg.topic = \"ABB\"\nmsg.payload =  parseFloat(msg.payload.ENERGY.Power)\nflow.set(\"ABB\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":940,"wires":[["516b4cb57d840a2d","294143782a8592f3"]]},{"id":"6cb23b01fa1480d2","type":"function","z":"30a70f3cdb7321a0","name":"","func":"msg.topic = \"Home\"\nmsg.payload =  parseFloat(msg.payload.ENERGY.Power)\nflow.set(\"Home\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":840,"wires":[["f3379a3ae72d82f2","294143782a8592f3"]]},{"id":"8fc97f16512715d4","type":"mqtt out","z":"30a70f3cdb7321a0","name":"","topic":"noderedHA/GRIDSENSOR","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cc17d50.8b108","x":1580,"y":180,"wires":[]},{"id":"99b76dce69658b08","type":"json","z":"30a70f3cdb7321a0","name":"Energy to Grid","property":"payload","action":"obj","pretty":true,"x":1340,"y":180,"wires":[["9030e658d955f98f","8fc97f16512715d4"]]},{"id":"aaa6815a3d86f015","type":"function","z":"30a70f3cdb7321a0","name":"","func":"var homeAP = flow.get(\"Home\");\nvar abbAP = flow.get(\"ABB\");\nvar prevDateTime = flow.get(\"PrevDateTimeGR\");\nvar gridEnergy = flow.get(\"GridEnergy\");\nvar actdateTime = new Date();\n\nvar secs = (actdateTime - prevDateTime) / 1000;\n\nif  ((abbAP - homeAP) > 0)\n{\n  gridEnergy += (abbAP - homeAP) * secs / 60 / 60;\n}\nelse\n{\n  gridEnergy = flow.get(\"GridEnergy\");\n}\n\nflow.set(\"GridEnergy\", gridEnergy);\nflow.set(\"PrevDateTimeGR\", actdateTime);\n\nmsg.topic = \"noderedHA/GRIDSENSOR\";\n\n//var today = new Date();\n//var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\n//var time = today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\n//var dateTime = date+'T'+time;\n\n//msg.payload = {\"Time\": dateTime, \"ENERGY\":{\"Total\": gridEnergy}}\nmsg.payload = {\"ENERGY\":{\"Total\": gridEnergy}}\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nflow.set(\"GridEnergy\",0);","finalize":"","libs":[],"x":1160,"y":180,"wires":[["99b76dce69658b08","aa2447192a8ff2cc"]]},{"id":"9030e658d955f98f","type":"debug","z":"30a70f3cdb7321a0","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1350,"y":240,"wires":[]},{"id":"aa2447192a8ff2cc","type":"debug","z":"30a70f3cdb7321a0","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1150,"y":240,"wires":[]},{"id":"a9d41391205fe8b9","type":"server-state-changed","z":"58ac827a81b6b0f5","name":"","server":"47e8a52bc5373cf7","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":["sensor.romieriopenweathermap_temperature","sensor.tasmotadht22_am2301_temperature","sensor.tasmotarain01_am2301_temperature","sensor.smarther_thermostat_current_temperature_2","sensor.smarther_thermostat_current_temperature"],"entityidfiltertype":"list","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"measurement","propertyType":"msg","value":"","valueType":"triggerId"}],"x":810,"y":200,"wires":[["65422159b29fa9bd","5a8cac5f6ad8dd60"]]},{"id":"65422159b29fa9bd","type":"debug","z":"58ac827a81b6b0f5","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":880,"y":260,"wires":[]},{"id":"5a8cac5f6ad8dd60","type":"influxdb out","z":"58ac827a81b6b0f5","influxdb":"ff45f277e83e6c9a","name":"Save Home Temp","measurement":"","precision":"","retentionPolicy":"","database":"nodered","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"romieri","bucket":"nodered","x":830,"y":400,"wires":[]}]